.App {
  text-align: center;
}

body, .MuiDrawer-root {
  background-color:  #fff;
}

.MuiListItemText-primary, h1, h2, p, label {
  color: #0d1117;
}

/* for search box */
.searchInput::placeholder {
  color: #fff;
}

.searchInput:focus::placeholder {
  color: transparent;
}

.searchInput:focus {
  outline: none;
}

.searchInput {
  color: #fff;
}

*{
  margin: 0;
  padding: 0;
 }
